<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site_name }} - {{ title }}{% endblock %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    {% block style %}
        {{ style('default.css') }}
    {% endblock %}
</head>
<body>
<header>
    <h1>{{ app_name }}</h1>
</header>
<main class="container">
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy; {{ "now"|date("Y") }} {{ app_name }}</p>
</footer>
{% block javascript %}{% endblock %}
</body>
</html>